*.gem
*.iml
*.log
*.rbc
.bundle
.config
.idea
.rvmrc
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
temp
vendor
annotations_report.html
annotations.yml
